[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ORTSC"]
	path = ORTSC
	url = https://github.com/mohmedsoudy/ortsc
	shallow = true
	registered = true
