[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MERO"]
	path = MERO
	url = https://github.com/cran/MERO
[submodule "ORTSC"]
	path = ORTSC
	url = https://github.com/mohmedsoudy/ortsc
[submodule "ResearchAssociate"]
	path = ResearchAssociate
	url = https://github.com/cran/ResearchAssociate
[submodule "ggaligner"]
	path = ggaligner
	url = https://github.com/mohmedsoudy/ggaligner
